* {
    margin: 0px;
}

html {
    height: 100%;
}

body {
    align-items: center;
    background-color: lightgrey;
    display: flex;
    height: 100%;
    justify-content: center;
}

.form-wrapper {
    background-color: white;
    border-radius: 3px;
    padding: 10px;
}